body {
    margin: 0;
    background: #020617;
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  }
  * {
    box-sizing: border-box;
  }